<!-- sales.hbs -->
<h1>SHEEP Sneakers</h1>
<p> Welcome to our Sneaker browsing and buying business! </p>
<ul> <!-- navbar -->
    <li><a href="/">Sneakers</a></li>
    <li><a href="/shoefinder">Sneaker Finder</a></li>
    <li><a href="/locations">Locations</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/employees">Employees</a></li>
    <li><a class="active" href="/sales">Sales</a></li>
</ul>
<h2>Invoice List</h2> <!-- Sales page stuff -->
{{!-- Create a table --}}
<table border="1" cellpadding="5" id="saleTable">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, name, and price, in order --}}
        {{#each data}}
        <tr data-value={{this.saleID}}>
            <td>{{this.saleID}}</td>
            <td>{{this.sid}}</td>
            <td>{{this.cid}}</td>
            <td>{{this.time_of_sale}}</td>
            <td>{{this.eid}}</td>
            <td><button onclick="deleteSale({{this.saleID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/deleteSale.js"></script>

<p>To add a new sale, please enter their information below and click `Submit`!</p>
<form id="addSales">
    <label for="inputStore">Store: </label>
    <select name="inputStore" id="inputStore">
        <option value="">Select a Store</option>
        {{#each locations}}
        <option value="{{this.storeID}}">{{this.store_name}}</option>
        {{/each}}
    </select>
    
    <label for="inputCustomer">Customer email: </label>
    <select name="inputCustomer" id="inputCustomer">
        <option value="">Select a Customer</option>
        {{#each customers}}
        <option value="{{this.customerID}}">{{this.email}}</option>
        {{/each}}
    </select>

    <label for="time_of_sale">time: </label>
    <input type="datetime" name="time_of_sale" id="time_of_sale">

    <label for="inputEmployee">Employee email: </label>
    <select name="inputEmployee" id="inputEmployee">
        <option value="">Select a Employee</option>
        {{#each employees}}
        <option value="{{this.employeeID}}">{{this.email}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
<script src="./js/addSale.js"></script>

<p>If there was an error in inputting sales you can edit it here</p>

<form id="updateSaleForm">
    
    <label for="saleID">Sale ID: </label>
    <select name="saleID" id="mySelectSale">
        <option value="test">Select a sale</option>
        {{#each data}}
        <option value="{{this.saleID}}">{{this.saleID}}</option>
        {{/each}}
    </select>

    <label for="storeID">Store: </label>
    <select name="storeID" id="mySelectStore">
        <option value="">Select a Store</option>
        {{#each locations}}
        <option value="{{this.storeID}}">{{this.store_name}}</option>
        {{/each}}
    </select>
    
    <label for="customerID">Customer email: </label>
    <select name="customerID" id="mySelectCustomer">
        <option value="">Select a Customer</option>
        {{#each customers}}
        <option value="{{this.customerID}}">{{this.email}}</option>
        {{/each}}
    </select>

    <label for="time_of_sale">time: </label>
    <input type="datetime" name="time_of_sale" id="time_of_sale_update">

    <label for="employeeID">Employee email: </label>
    <select name="employeeID" id="mySelectEmployee">
        <option value="">Select a Employee</option>
        {{#each employees}}
        <option value="{{this.employeeID}}">{{this.email}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
<script src="./js/updateSale.js"></script>
